.formulario{
    position: relative;
    top:7em;
    text-align: center;
}
.formulario-boton{
    color:black;
    cursor:pointer;
    font-weight: bold;
    padding: 0.4em 3em;
    border:none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.formulario-label{
    display:inline-block;
    margin: 8px;
    font-weight: bold;
}
.formulario-label input{
    color:black;
    margin-left:1em;
    padding:0.4em 1em;
    border:none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.formulario-label input:focus{
    outline: none;
    padding-left: 5px;
}
.formulario-tempe label{
    margin: 10px;
}