.navbackgroud {
    background-color: #365d42;
    color: #C2B49B;
    height: 100px;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.iz{
    margin-left: 10px;
}
.de{
    padding-right: 10px;
}

.active {
    text-decoration: none;
    font-size: 25px;
    -webkit-text-stroke: 0.3px black;
    font-weight: bolder;
    color: #ac4c4c;

}

.desactive {
    font-size: 20px;
    color: #6d302c;
    text-decoration: none;
    font-weight: bolder;
}