.nav{
    position: fixed;
    display:block;
    background-color: var(--color-uno);
    height:auto;
    width: 100%;
    z-index: 100;
}
.nav-contendImg{
    display: inline-block;
    width: 20%;
    height:100%;
}
.nav-logo{
    position: relative;
    top: 1em;
    left:1em;
    height:4em;
    width: auto;
}
.nav-links{
    display: inline-block;
    position: relative;
    bottom: 1em;
    width: 60%;
    text-align: center;
}
.nav-searchBar{
    right: 0;
    top: 35%;
    width: 25%;
    display: inline-block;
    position:absolute;
    
}
.nav-orderButtons{
    text-align: center;
    padding-bottom: 1rem;
}
.nav-boton{
    color: var(--color-textDos);
}
.active {
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: none;
    color:#ee441e;
    margin: 0 0.3em;
}

.desactive {
    text-decoration: none;
    font-weight: bolder;
    margin: 0 0.3em;
    color:#ee441e;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.desactive:hover{
    color:var(--color-text);
}