.pages{
    position: relative;
    top:7em;
    text-align: center;
}
.pages-botones input{
    color: var(--color-textDos);
    margin: 0 0.2em;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.pages-botones input:hover{
    background-color:tomato;
}